{% extends 'base.html' %}

{% load static %}
<style>
    div{background-color: white}
</style>
{% block content %}


 <div class="col d-flex justify-content-center" >


    <div class="card text-warning bg-secondary mb-6" style="max-width: 540px;">
        <div class="card-header"><h1 style="color: black">Profile</h1></div>
        <hr style="color: white">

    <div class="col-md-4"  >
      <img src="{{ Visitor.Visitor_picture.url }}" height="400" width="350">
    </div>

      <div class="card-body">

          <h3 class="card-title" style="color: black"> Name : {{ Visitor.Visitor_name}}</h3> <hr>
                              <h6 style="color: black">ID : {{ Visitor.id }} <h6><hr>

          <h6 style="color: black">Email :</b> {{ Visitor.Visitor_email }} </h6><hr>
          <h6 style="color: black">Gender :</b> {{ Visitor.Gender }} </h6><hr>


      </div>

  </div>
  </div>
    </div>


{% endblock content %}