{% extends 'base.html' %}

{% load static %}

{% block content %}



    <div class="card bg-light mb-2`">
          <div class="row no-gutters" >
            <div class="col-md-3">
                   <img src="{{ Visitor.Visitor_picture.url }}" height="300" width="300">
            </div>

            <div class="col-md-8">
              <div class="card-body">
                <h3 class="card-title">Profile</h3><br>
                <p class="card-text">
                    <b>Name :</b> {{ Visitor.Visitor_name }} <br><br>
                    <b>ID :</b> {{ Visitor.id }} <br><br>
                    <b>Email :</b> {{ Visitor.Visitor_email }} <br><br>
                    <b>Gender :</b> {{ Visitor.Gender }} <br><br>
                </p>
              </div>
            </div>
          </div>
        </div>










{% endblock content %}