{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <meta charset="UTF-8">

    <title>Travel Mama</title>
</head>
<body style="background-color:lightsteelblue;">
<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

{% comment %}<a href="{% url 'User' %}">User List</a><br>
<a href="{% url 'insertUser' %}">Insert User</a><br>{% endcomment %}
{% comment %}<a href="{% url 'Post' %}">Post List</a><br>
<a href="{% url 'insertPost' %}">Insert Post</a><br>
<a href="{% url 'Comment' %}">Comment List</a><br>
<a href="{% url 'insertComment' %}">Insert Comment</a><br>
<a href="{% url 'Admin' %}">Admin List</a><br>

<a href="{% url 'createProfile' %}">Create Profile</a><br>
<a href="{% url 'showProfile' %}">Show Profile</a><br>{% endcomment %}

<nav class="navbar navbar-expand-lg" style="background-color:deepskyblue;">
    <a class="navbar-brand" href="{% url 'Homepage' %}"><b style="color:black;">T</b><b style="color:white;">ravel</b> <b style="color:white;">Mama</b>
  </a>
{#<b style="color:black;">T</b><b style="color:white;">ravel</b> <b style="color:white;">Mama</b>#}
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:white;">
          Post
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'Post' %}">Post</a>
          <a class="dropdown-item" href="{% url 'insertPost' %}">Insert Post</a>

        </div>
      </li>

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" style="color:white;"href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Post Category
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">


            <form method="POST" action="{% url 'Post' %}">
        {% csrf_token %}

      <input  type="search" name="search" hidden value="Travel Blog">

      <button  type="submit" style="height: 40px ; width: 150px ">Travel Blog</button>
    </form>

    <form method="POST" action="{% url 'Post' %}">
        {% csrf_token %}

      <input  type="search" name="search" hidden value="Travel Guide">

      <button  type="submit" style="height: 40px ; width: 150px ">Travel Guide</button>

    </form>

    <form method="POST" action="{% url 'Post' %}">
        {% csrf_token %}

      <input  type="search" name="search" hidden value="Travel Package">

      <button  type="submit" style="height: 40px ; width: 150px ">Travel Package</button>

    </form>




        </div>
      </li>



        <li class="nav-item">
        <a class="nav-link" href="{% url 'Admin' %}" style="color:white;">About Us</a>
      </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'posts' %}" style="color:white;">My Posts</a>
      </li>


      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" style="color:white;" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Profile
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'createProfile' %}">Update Profile</a>
          <a class="dropdown-item" href="{% url 'showProfile' %}">Show Profile</a>

        </div>
      </li>

{% if user.is_authenticated %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'showProfile' %}" style="color:white;"><b> <h7>{{ user.username }}</h7></b>
        </a>
      </li>

    <li class="nav-item">
        <a class="nav-link" href=" {% url 'logout' %}" style="color:white;">Logout</a>
      </li>


{% else %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'registration' %}" style="color:white;"><b> <h7> Stranger!</h7></b>
        </a>
      </li>


    <li class="nav-item">
        <a class="nav-link" href=" {% url 'registration' %}" style="color:white;">Sign Up</a>
      </li>

    <li class="nav-item">
        <a class="nav-link" href=" {% url 'login' %}" style="color:white;">Login</a>
      </li>

{% endif %}


    </ul>
    <form method="POST" action="{% url 'Post' %}">
                {% csrf_token %}
              <input  type="search" name="search" >
              <button  type="submit" >Search</button>
            </form>
  </div>
</nav>


{#{% if user.is_authenticated %}#}
{#    <h3>{{ user.username }}</h3>#}
{#    <a href="{% url 'logout' %}">Logout</a><br>#}
{#{% else %}#}
{#    <h3> Stranger!</h3>#}
{#    <a href="{% url 'registration' %}">Sign Up</a><br>#}
{#    <a href="{% url 'login' %}">Login</a><br>#}
{#{% endif %}#}
<!--/.Footer Links-->



{% block content %}

{% endblock content %}
</div>
</body>
<footer style="background-color:deepskyblue;">

 <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">

        <!-- Content -->
        <h5 class="font-weight-bold text-uppercase mb-4">About</h5>
        <p>Travel Mama is a place for travelers seeking expert guidance, trip package & blog from a community of trusted travel advisors. These travel professionals can provide a trip experience, inspire your next vacation and help people go on their dream vacation.</p>


      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mb-4">Site Links</h5>

        <ul class="list-unstyled">
          <li>
            <p>
              <a href="http://127.0.0.1:8000/post/" style="color:black;">Post</a>
            </p>
          </li>
          <li>
            <p>
              <a href="http://127.0.0.1:8000/about-us/" style="color:black;">ABOUT US</a>
            </p>
          </li>

        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">

        <!-- Contact details -->
        <h5 class="font-weight-bold text-uppercase mb-4">Contact Us</h5>

        <ul class="list-unstyled">
          <li>
            <p>
              <i class="fas fa-home mr-3"></i>74/A, Green road, Dhaka, Bangladesh</p>
          </li>
          <li>
            <p>
              <i class="fas fa-envelope mr-3"></i> admin@travelmama.com</p>
          </li>
          <li>
            <p>
              <i class="fas fa-phone mr-3"></i>+8801521429847</p>
          </li>
          <li>
            <p>
              <i class="fas fa-print mr-3"></i>+8801521201160</p>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">


<div class="container" align="center">
<h5 style="color:white;">Follow Us</h5>
<div class="social">
  <a href="https://www.facebook.com/" id="share-fb" class="sharer button" style="color:white;"><i class="fa fa-3x fa-facebook-square"></i></a>
  <a href="https://www.twitter.com" id="share-tw" class="sharer button" style="color:white;"><i class="fa fa-3x fa-twitter-square"></i></a>
  <a href="https://www.linkedin.com" id="share-li" class="sharer button" style="color:white;"><i class="fa fa-3x fa-linkedin-square"></i></a>
  <a href="https://www.pinterest.com/" id="share-gp" class="sharer button" style="color:white;"><i class="fa fa-3x fa-pinterest-square"></i></a>
  <a href="https://www.youtube.com/" id="share-em" class="sharer button" style="color:white;"><i class="fa fa-3x fa-youtube-square"></i></a>
</div>

</div>
 <!-- Copyright -->
        <div class="container" align="center"style="color:white;">Copyright © Travel Mama
{#            <a href="#"> TravelMama</a>#}
        </div>
        <!-- Copyright -->


</html>






