{% extends 'base.html' %}

{% load static %}

{% block content %}
    <h2>Post </h2>
    <div class="card mb-3">

        {% for p in Post %}

  <img class="card-img-top" src="{{ p.Post_image.url }}" alt="Card image cap" width="800"height="500">
  <div class="card-body">
    <h4 class="card-title">{{ p.Post_title }}</h4>
    Posted by: <h7 class="card-title">{{p.User.username}}</h7>
      Post location: <h7 class="card-title">{{ p.Post_location}}</h7>
    Post category: <h7 class="card-title"> {{ p.Post_catagory}}</h7>
    <p class="card-text">   {{ p.Post_description}}</p>
    <a href="{{ p.id }}">
                    {# http://127.0.0.1:8000/products/product_id    #}
        <button type="button" class="btn btn-outline-primary">Details</button>
    </a>



  </div>
    {% endfor%}
    </div>

{% endblock content %}